[Unit]
Description=Maivin Sensor Fusion Service
Wants=radarpub.service model.service network.target
After=radarpub.service model.service network.target

[Service]
Type=simple
ExecStart=/usr/bin/fusion
EnvironmentFile=/etc/default/fusion
Restart=always

[Install]
WantedBy=raivin.target