[Unit]
Description=Maivin Sensor Fusion Service
Wants=zenohd.service radarpub.service model.service
After=zenohd.service radarpub.service model.service

[Service]
Type=simple
ExecStart=/usr/bin/fusion
EnvironmentFile=/etc/default/fusion
Restart=always

[Install]
WantedBy=raivin.target