[Unit]
Description=Maivin Camera Service
After=imx8-isp.service network.target
Wants=imx8-isp.service network.target
Before=recorder.service

[Service]
Type=simple
User=root
ExecStartPre=/usr/bin/maivin-camera-select-mode
ExecStartPre=/usr/bin/maivin-camera-wait-ready
ExecStart=/usr/bin/edgefirst-camera
EnvironmentFile=/etc/default/camera
Restart=always

[Install]
WantedBy=maivin.target
