[Unit]
Description=Maivin IMU Service
Wants=network.target
After=network.target
Before=recorder.service

[Service]
Type=simple
User=root
EnvironmentFile=/etc/default/imu
ExecStart=/usr/bin/edgefirst-imu
Restart=always

[Install]
WantedBy=maivin.target
