[Unit]
Description=Maivin IMU Service
Wants=network.target
After=network.target systemd-tmpfiles-setup.service
Before=recorder.service

[Service]
Type=simple
User=root
EnvironmentFile=/etc/default/imu
TimeoutStartSec=60
ExecStartPre=/usr/bin/maivin-imu-configure
ExecStart=/usr/bin/edgefirst-imu
Restart=always

[Install]
WantedBy=maivin.target
