[Unit]
Description=Maivin Sensor Fusion Service
Wants=model.service network.target
After=radarpub.service lidarpub.service model.service network.target

[Service]
Type=simple
ExecStart=/usr/bin/edgefirst-fusion
EnvironmentFile=/etc/default/fusion
Restart=always

[Install]
WantedBy=maivin.target
