[Unit]
Description=Maivin Model Service
After=camera.service network.target
Wants=camera.service network.target
Before=recorder.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/model
EnvironmentFile=/etc/default/model
Restart=always

[Install]
WantedBy=maivin.target