[Unit]
Description=Maivin Model Service
After=camera.service zenohd.service NetworkManager-wait-online.service
Wants=camera.service zenohd.service NetworkManager-wait-online.service
Before=recorder.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/model
EnvironmentFile=/etc/default/model
Restart=always

[Install]
WantedBy=multi-user.target
