[Unit]
Description=Maivin NavSat Service
After=gpsd.service network.target
Wants=gpsd.service network.target
Before=recorder.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/navsat
Restart=always

[Install]
WantedBy=maivin.target