[Unit]
Description=Maivin NavSat Service
After=gpsd.service zenohd.service NetworkManager-wait-online.service
Wants=gpsd.service zenohd.service NetworkManager-wait-online.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/navsat
Restart=always

[Install]
WantedBy=multi-user.target
