[Unit]
Description=Body Pose UI Demo
Requires=camera.service
After=camera.service
Conflicts=detectionui.service headposeui.service facedetectui.service faceblurui.service segmentationui.service peopledetectui.service webui.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/bodyposegl_headless
EnvironmentFile=/etc/default/vpkui
Restart=always

[Install]
WantedBy=multi-user.target
