[Unit]
Description=Maivin Detect GUI Demo
Requires=NetworkManager-wait-online.service camera.service
After=NetworkManager-wait-online.service camera.service
Conflicts=segmentationui.service headposeui.service facedetectui.service faceblurui.service bodyposeui.service peopledetectui.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/detectiongl_headless
EnvironmentFile=/etc/default/vpkui
Restart=always

[Install]
WantedBy=multi-user.target
