[Unit]
Description=Face Detection UI Demo
Requires=camera.service
After=camera.serviceConflicts=detectionui.service headposeui.service segmentationui.service faceblurui.service bodyposeui.service peopledetectui.service webui.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/facedetectgl_headless
EnvironmentFile=/etc/default/vpkui
Restart=always

[Install]
WantedBy=multi-user.target
