[Unit]
Description=Face Blur UI Demo
Requires=NetworkManager-wait-online.service
After=NetworkManager-wait-online.service
Conflicts=detectionui.service headposeui.service facedetectui.service segmentationui.service bodyposeui.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/faceblurgl_headless
EnvironmentFile=/etc/default/vpkui
Restart=always

[Install]
WantedBy=multi-user.target
