[Unit]
Description=Head Pose UI Demo
Requires=camera.service
After=camera.service
Conflicts=detectionui.service segmentationui.service facedetectui.service faceblurui.service bodyposeui.service peopledetectui.service webui.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/headposegl_headless
EnvironmentFile=/etc/default/vpkui
Restart=always

[Install]
WantedBy=multi-user.target
