[Unit]
Description=People Segmentation Sample
Requires=imx8-isp.service NetworkManager-wait-online.service
After=imx8-isp.service NetworkManager-wait-online.service
Conflicts=detection.service headpose.service facedetect.service faceblur.service bodypose.service

StartLimitAction=reboot
StartLimitIntervalSec=60
StartLimitBurst=3

[Service]
Type=simple
User=root
ExecStart=/usr/bin/segmentationgl_headless -f -d /dev/video2
Restart=always
RestartSec=2
ExecStartPre=/bin/sleep 1

[Install]
WantedBy=multi-user.target
