[Unit]
Description=Maivin MCAP Replayer Service
Wants=network.target vsidaemon.service
After=network.target vsidaemon.service

[Service]
Type=simple
ExecStart=/usr/bin/edgefirst-replay --system
EnvironmentFile=/etc/default/replay
Restart=always

[Install]
WantedBy=maivin.target
