[Unit]
Description=Maivin Detection Service
After=camera.service NetworkManager-wait-online.service
Wants=camera.service NetworkManager-wait-online.service
ConditionPathExists=/var/lib/detect/default.rtm

[Service]
Type=simple
User=root
ExecStart=/usr/bin/detect --model /var/lib/detect/default.rtm
Restart=always

[Install]
WantedBy=multi-user.target
