[Unit]
Description=Maivin MCAP Recorder Service
Wants=network.target
After=network.target

[Service]
Type=simple
User=torizon
ExecStart=/usr/bin/recorder
WorkingDirectory=/home/torizon
EnvironmentFile=/etc/default/recorder
Restart=always

[Install]
WantedBy=maivin.target