[Unit]
Description=Maivin MCAP Recorder Service
Wants=zenohd.service
After=zenohd.service

[Service]
Type=simple
User=torizon
ExecStart=/usr/bin/recorder
WorkingDirectory=/home/torizon
EnvironmentFile=/etc/default/recorder
Restart=always

[Install]
WantedBy=multi-user.target