[Unit]
Description=Maivin MCAP Recorder Service
After=zenohd.service NetworkManager-wait-online.service
Wants=zenohd.service NetworkManager-wait-online.service

[Service]
Type=simple
User=torizon
ExecStart=/usr/bin/recorder
WorkingDirectory=/home/torizon
EnvironmentFile=/etc/default/recorder
Restart=always

[Install]
WantedBy=multi-user.target
