[Unit]
Description=Maivin Radar Publisher Service
Wants=network.target
After=network.target
Before=recorder.service

[Service]
Type=simple
ExecStart=/usr/bin/radarpub
EnvironmentFile=/etc/default/radarpub
Restart=always

[Install]
WantedBy=raivin.target