[Unit]
Description=ISP i.MX 8Mplus daemon

StartLimitIntervalSec=500
StartLimitBurst=40

[Service]
Restart=on-failure
RestartSec=5s
Environment=ISP_LOG_LEVEL=8
WorkingDirectory=/etc/isp
ExecStart=/usr/bin/isp_media_server DUAL_CAMERA

[Install]
WantedBy=multi-user.target
