[Unit]
Description=Raivin Middleware Services
After=maivin.target
AllowIsolate=yes
Requires=maivin.target
Requires=radarpub.service
Requires=fusion.service