[Unit]
Description=Zenoh Message Router
After=NetworkManager-wait-online.service
Wants=NetworkManager-wait-online.service

[Service]
EnvironmentFile=/etc/default/zenohd
Restart=on-failure
ExecStart=/usr/bin/zenohd --config /etc/zenohd.yaml

[Install]
WantedBy=multi-user.target
