[Unit]
Description=Zenoh Message Router

[Service]
EnvironmentFile=/etc/default/zenohd
Restart=on-failure
ExecStart=/usr/bin/zenohd --config /etc/zenohd.yaml

[Install]
WantedBy=multi-user.target