[Unit]
Description=DATA SD card
DefaultDependencies=no
After=maivin-sd-format.service systemd-udevd.service
Before=local-fs.target
ConditionPathExists=/dev/disk/by-label/DATA

[Mount]
What=/dev/disk/by-label/DATA
Where=/media/DATA
Type=ext4
Options=defaults,nofail,x-systemd.device-timeout=5s

[Install]
WantedBy=local-fs.target
