[Unit]
Description=Maivin Camera Service
After=imx8-isp.service zenohd.service NetworkManager-wait-online.service
Wants=imx8-isp.service zenohd.service NetworkManager-wait-online.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/camera
EnvironmentFile=/etc/default/camera
Restart=always

[Install]
WantedBy=multi-user.target
