[Unit]
Description=Maivin LiDAR Publisher Service
Wants=network.target
After=network.target
Before=recorder.service

[Service]
Type=simple
ExecStart=/usr/bin/lidarpub
EnvironmentFile=/etc/default/lidarpub
Restart=always

[Install]
WantedBy=maivin.target