[Unit]
Description=Maivin IMU Service
After=zenohd.service NetworkManager-wait-online.service
Wants=zenohd.service NetworkManager-wait-online.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/imu
Restart=always

[Install]
WantedBy=multi-user.target
