[Unit]
Description=Maivin IMU Service
After=zenohd.service
Wants=zenohd.service
Before=recorder.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/imu
Restart=always

[Install]
WantedBy=maivin.target
