[Unit]
Description=Maivin IMU Service
Wants=network.target
After=network.target
Before=recorder.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/imu
Restart=always

[Install]
WantedBy=maivin.target
