[Unit]
Description=Camera Pose Service
After=NetworkManager-wait-online.service
Wants=NetworkManager-wait-online.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/camerapose
Restart=always

[Install]
WantedBy=multi-user.target
