[Unit]
Description=Maivin MCAP Replayer Service
Wants=network.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/replay
EnvironmentFile=/etc/default/replay
Restart=always

[Install]
WantedBy=multi-user.target
