[Unit]
Description=Maivin MCAP Replayer Service
Wants=zenohd.service
After=zenohd.service
Conflicts=

[Service]
Type=simple
ExecStart=/usr/bin/replay %i.mcap
WorkingDirectory=/media/DATA
EnvironmentFile=/etc/default/replay
Restart=always

[Install]
WantedBy=multi-user.target