[Unit]
Description=Maivin Web UI Server
After=zenohd.service NetworkManager-wait-online.service
Wants=zenohd.service NetworkManager-wait-online.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/websrv
EnvironmentFile=/etc/default/webui
Restart=always

[Install]
WantedBy=multi-user.target
