[Unit]
Description=Maivin Web UI Server
After=zenohd.service
Wants=zenohd.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/websrv
EnvironmentFile=/etc/default/webui
Restart=always

[Install]
WantedBy=multi-user.target