[Unit]
Description=Maivin WebUI Service
After=zenohd.service NetworkManager-wait-online.service
Wants=zenohd.service NetworkManager-wait-online.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/webui
EnvironmentFile=/etc/default/webui
Restart=always

[Install]
WantedBy=multi-user.target
