[Unit]
Description=Maivin Local Time Service
Wants=zenohd.service
After=zenohd.service
Before=recorder.service

[Service]
Type=simple
ExecStart=/usr/bin/localtime
Restart=always

[Install]
WantedBy=multi-user.target