[Unit]
Description=Maivin Local Time Service
Wants=network.target
After=network.target
Before=recorder.service

[Service]
Type=simple
ExecStart=/usr/bin/localtime
Restart=always

[Install]
WantedBy=maivin.target